numpy
pandas
scikit-learn
matplotlib
optuna
holidays
sqlalchemy
pymysql
geopy
openmeteo-requests
retry-requests
requests
tqdm
prophet
xgboost
catboost
lightgbm
shap
fastapi
uvicorn[standard]
pydantic
python-dotenv
